body{
    overflow: hidden;
    cursor: crosshair;
}
.bubble{
    position: absolute;
    background-color: orange;
    width: 2rem;
    height: 2rem;
    border-radius: 300px;
    filter: hue-rotate(0deg);
    opacity: 0;
    animation: anim 6s ease forwards;
}

@keyframes anim{
    to{
        top: -50%;
        filter: hue-rotate(780deg);
        opacity: 1;
        left: var(--left)
    }
}

h3{
    text-align: center;
    margin: 5rem auto;
    font-size: 2rem
}